<!-- <div *ngIf="loading">
    Loading...
  </div>
  <div *ngIf="error">
    Error: {{ error.message }}
  </div>
  <div *ngIf="users">
    <ul>
      <li *ngFor="let user of users">
        {{ user.name }} ({{ user.email }})
      </li>
    </ul>
  </div>

  <button (click)="getData()">Get Data</button> -->

  <button (click)="createUser({ id: '1', name: 'John', email: 'john@example.com' })">Create User</button>
<button (click)="getUser('1')">Get User</button>
<button (click)="updateUser('1', { name: 'Updated Name' })">Update User</button>
<button (click)="deleteUser('1')">Delete User</button>
